<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Flatby UI Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Assets/css/screen.css" rel="stylesheet" />
    <link href="~/Assets/css/fonts.css" rel="stylesheet" />
    <link href="~/Assets/css/Custom.css" rel="stylesheet" />
    @*Link Css tự design*@
    <link href="~/Assets/css/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    @*Link Css lấy icon*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    @* Slider *@
    <script src="~/Assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/css/Slider/jquery.nivo.slider.js"></script>
    <script src="~/Assets/css/Slider/jquery.nivo.slider.pack.js"></script>
    <link href="~/Assets/css/Slider/nivo-slider.css" rel="stylesheet" />

    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                controlNav: false,
                prevText: '',
                nextText: '',
            });
        });
    </script>
</head>

<body>

    <div id="ToanTrang">
        <section class="blank">
            <div class="flash">
                <div class="DienThoai">
                    <i class="fa fa-phone" aria-hidden="true">(+84) 1900 1099
                    </i>
                </div>

                <div class="DangKyDangNhap">
                    <i class="fa fa-unlock" aria-hidden="true">
                        @Html.ActionLink("Đăng nhập", "DangNhap", "NguoiDung")
                    </i>
                    &nbsp;
                    <i class="fa fa-sign-in" aria-hidden="true">
                        @Html.ActionLink("Đăng ký", "DangKy", "NguoiDung")
                    </i>
                </div>
            </div>

            <div class="flash success" id="DivDanhMuc">
                <div id="txtTimKiem">
                    @using (Html.BeginForm())
                    {
                        @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextboxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm ..." })
                    }
                </div>


                <ul class="NavMenu">
                    <li>@Html.ActionLink("Trang chủ", "index", "Home")</li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Hướng dẫn</a></li>
                    <li><a href="#">Sách</a></li>
                </ul>
            </div>
        </section>

        <section>
            <div id="DivMenuTrai">
                <div class="activity">
                    @* Chenf partialview *@
                    @Html.Action("SachMoiPartial", "Sach");
                </div>
            </div>
            @* Chèn nivoslider *@
            <div id="slider" class="nivoSlider">
                <img src="~/Assets/images/Chrysanthemum.jpg" alt="" />
                <a href="http://dev7studios.com">
                    <img src="~/Assets/images/Desert.jpg" alt="" title="#htmlcaption" /></a>
                <img src="~/Assets/images/Hydrangeas.jpg" alt="" title="This is an example of a caption" />
                <img src="~/Assets/images/Jellyfish.jpg" alt="" />
                <img src="~/Assets/images/Tulips.jpg" alt="" />
            </div>
            <div style="clear: both"></div>

        </section>
        <div id="NoiDung">
            @RenderBody()
        </div>
        @Html.Action("ChuDePartial", "ChuDe");

        <section class="blank items">
            <div id="Content1">
                <div id="DivLeft">
                    <div class="item">
                        @Html.Action("NhaXuatBanPartial", "NhaXuatBan");
                    </div>
                </div>
                <div id="DivRight">
                    <div class="item">
                        @Html.Action("NhaXuatBanPartial", "NhaXuatBan");
                    </div>
                </div>
            </div>

            <div>
                <a href="#" class="button button-buy">Đây là website bán sách thử nghiệm của Võ Trần Quân</a>
            </div>
        </section>
    </div>

</body>
</html>
