@using ShopWeb.Models;
@using ShopWeb.Controllers;
@using System.Linq;
@{
    ViewBag.Title = "Sidebar";
}

@{
    ShopWeb.Controllers.CommonDictionary.LoadAllDictionary();
    List<brand> xx = new List<brand>();
    xx = ShopWeb.Controllers.CommonDictionary.db.brands.ToList();
    List<category> cat = new List<category>();
    cat =  CommonDictionary.db.categories.ToList();

}

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Danh mục</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
        
            @foreach (var item in cat)
            {
                if (string.IsNullOrEmpty(item.Category_Brand.ToString()))
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#">@item.Name</a></h4>
                    </div>
                </div>
                }
                else
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordian" href="@string.Format("#{0}",item.Symbol)">
                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                @item.Name
										</a>
                        </h4>
                    </div>
                     <div id="@string.Format("{0}",item.Symbol)" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                    @{ 
                        List<category_brand> cat_brand = CommonDictionary.db.category_brand.Where(x => x.Category_Brand_ID == item.Category_Brand).ToList();                     
                        for (int i = 0; i < cat_brand.Count; i++)
                        {
                            string name = xx.AsEnumerable().FirstOrDefault(x => x.ID == (string.IsNullOrEmpty(cat_brand[i].BrandID.ToString()) ? 0 : cat_brand[i].BrandID)).BrandName.ToString();
                            <li><a href="#">@name</a></li>
                        }
                    }
                    </ul>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Thương hiệu ưu dùng</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    @{
                        List<brand> brand = CommonDictionary.db.brands.OrderByDescending(x=>x.Products).Take(10).ToList();
                        foreach (var item in brand)
                        {
                            <li><a href="@Url.Content(item.Link)"><span class="pull-right">(@item.Products) </span>@item.BrandName</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!--/brands_products-->

        <div class="price-range">
            <!--price-range-->
            <h2>Mức giá</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b class="pull-left">Đ 0</b> <b class="pull-right">Đ 50 triệu</b>
            </div>
        </div>
        <!--/price-range-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="~/Assets/images/home/shipping.jpg" alt="" />
        </div>
        <!--/shipping-->

    </div>
</div>
