@{
    ViewBag.Title = "Create1";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using ShopWeb.Models;
@model ShopWeb.Models.product

@section AddCss
{
    <style>
        .profile-user-img {
            margin: 0 auto;
            width: 300px;
            height: 300px;
            padding: 3px;
            border: 3px solid #d2d6de;
        }

        .img-circle {
            border-radius: 1%;
        }

        .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        img {
            vertical-align: middle;
        }

        img {
            border: 0;
        }

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
}

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" alt="User profile picture" src="@Url.Content("~/Areas/Admin/Assets/dist/img/300x300.jpg")" id="MainImage">

                    <h3 class="profile-username text-center">Áo thu đông aOneMall</h3>

                    <p class="text-muted text-center">Software Engineer</p>

                    <label class="btn btn-primary btn-block" id="exampleInputFile" onchange="onFileSelected(event)">
                        <b>Thay đổi hình ảnh </b>
                        <input type="file" style="display: none;">
                    </label>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#settings" data-toggle="tab">Thông tin cơ bản</a></li>
                    <li><a href="#activity" data-toggle="tab">Kết nối</a></li>
                    <li><a href="#timeline" data-toggle="tab">Lịch sử mua hàng</a></li>

                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="settings">
                        @Html.ValidationSummary(true)
                        @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(x => x.Name, new { @for = "inputName", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @id = "inputName", @placeholder = "Tên sản phẩm" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Price, new { @for = "inputEmail", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "inputPrice", @placeholder = "Gía sản phẩm" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Stars, new { @for = "inputStar", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Stars, new { @class = "form-control", @id = "inputStar", @placeholder = "Điểm đánh giá sản phẩm" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DateImport, new { @for = "inputStar", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.DateImport, new { @class = "form-control", @id = "inputStar", @placeholder = "Ngày nhập" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Condition, new { @for = "inputCondition", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Condition, new { @class = "form-control", @id = "inputCondition", @placeholder = "Trạng thái mới cũ của sản phẩm" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProductTypeID, new { @for = "inputProductTypeID", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.ProductTypeID, new { @class = "form-control", @id = "inputProductTypeID", @placeholder = "Loại sản phẩm" })
                                </div>
                            </div>    
                            <div class="form-group">
                                @Html.LabelFor(x => x.Brands, new { @for = "inputBrands", @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.Brands, new { @class = "form-control", @id = "inputBrands", @placeholder = "Thương hiệu" })
                                </div>
                            </div>    
                                                 
                          
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(x => x.Status, new { @checked = "checked" })
                                            Hiển thị
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Thêm mới</button>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        @using (Html.BeginForm(new { @class = "form-horizontal" }))
                        {
                            <div class="box-body">
                                @* @Html.AntiForgeryToken()*@
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.Name)</label>

                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.DateImport)</label>

                                    @Html.TextBoxFor(x => x.DateImport, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.DateImport)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.Price)</label>

                                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Price)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.Brands)</label>

                                    @Html.TextBoxFor(x => x.Brands, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Brands)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.Condition)</label>

                                    @Html.TextBoxFor(x => x.Condition, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Condition)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.Status)</label>

                                    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.Status)
                                </div>

                                <div class="form-group">
                                    <label>@Html.LabelFor(x => x.ProductTypeID)</label>

                                    @Html.TextBoxFor(x => x.ProductTypeID, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ProductTypeID)
                                </div>
                            </div>
                            <div class="box-footer">
                                @Html.ActionLink("Trở lại", "Index")
                                <button type="submit" class="btn btn-info pull-right">Tạo mới</button>
                            </div>
                        }
                    </div>

                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="activity">
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

<script>
    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("MainImage");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
          
        };

        reader.readAsDataURL(selectedFile);
    }
</script>
